@import '../../App.scss';
.messages__container {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    .msg__header {
        @include textBold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            font-size: 25px;
            border: none;
            background-color: transparent;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .message__contents {
        padding: 10px;
        max-height: 200px;
        overflow-y: auto; // Enable scrolling when content overflows


        p {
            @include textFont;
            margin: 8px 0;
        }

        // Optional: Customize the scrollbar for a better user experience
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: $accentDark;
        }
    }
}