@import "../../App.scss";

.forgot-pass__container {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    background-color: #F8F8F8;
    img, p,input, button {
        margin: 25px 0;
    }
    img {
        height: auto;
        width: 30%;
    }
    p {
        @include textFont;
        color: #888;
    }
    input {
        width: 60%;
        background-color: $bgColor;
        padding: 12px;
        margin: 8px;
        border: none;
        border-radius: 10px;
        &::placeholder {
            @include textFont;
        }
    }
    button {
        align-self: center;
        color: #f8f8f8;
        border: none;
        @include headerFont;
        padding: 12px;
        border-radius: 10px;
        background-color: $accentDark;
        width: 20%;
        transition: transform 0.3s ease;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}